<div class="card" style="max-height: 210px;">
  <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
    <div class="text-center">
      <h6 class="card-name">RELACIONADOS</h6>
    </div>

  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <mat-chip-list *ngIf="processList.length >= 1">
        <mat-chip *ngFor="let process of processList" 
                  (click)="addProceesRelated(process)" 
                  [ngClass]="{'active': process.isSelected}">{{process.name}}</mat-chip>
      </mat-chip-list>
    </div>
    <h6 *ngIf="processList.length === 0" class="text-center align-middle">Este proceso no tiene procesos relacionados</h6>
  </div>
</div>