<div class="container-fluid">
    <div class="row" style="padding-top: 50px;">
        <div class="col-xl-5 text-left time-picker-component">
            <h1 class="m-5">Hola, {{ user.name }}</h1>
            <mat-form-field class="ml-5 pr-5">
                <mat-label class="text-white">Sucursal</mat-label>
                <mat-select #station class="text-white" [value]="stationAssigned ? stationAssigned : stations[0]" class="not-empty-select" (selectionChange)="changeStation(station.value)">
                    <mat-option *ngFor="let station of stations" [value]="station">{{station}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-xl-7">
            <div class="row">
                <div class="col-xl-4 mt-3">
                    <button type="button" [routerLink]="['/turn-creation']" class="btn btn-primary btn-lg btn-block big ">INGRESOS</button>
                </div>
                <div class="col-xl-4 mt-3 ">
                    <button type="button" [routerLink]="['/turn']" class="btn btn-primary btn-lg btn-block big">ATENCION</button>
                </div>
                <div class="col-xl-4 mt-3" *ngIf="user.admin">
                    <button type="button" [routerLink]="['/configuration-panel']" class="btn btn-primary btn-lg btn-block big ">ADMINISTRACION</button>
                </div>
                <div class="col-xl-4 mt-3">
                    <button type="button " [routerLink]="['/activity-panel']" class="btn btn-primary btn-lg btn-block big ">MI ACTIVIDAD</button>
                </div>
                <div class="col-xl-4 mt-3" *ngIf="user.admin">
                    <a type="button " href="http://10.16.22.15:8080" class="btn btn-primary btn-lg btn-block big ">REPORTES</a>
                </div>
                <div class="col-xl-4 mt-3">
                    <button type="button" (click)="openPopup()" class="btn btn-primary btn-lg btn-block big ">CAMBIO CLAVE</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>


    <div class="row ">
        <div class="col-xl-5 mt-5 text-left ">
            <h2 class="m-5 text-white">
                {{fechaHora | date}}<br/> {{efemeride}}
            </h2>
        </div>
        <div class="col-xl-7">
            <!-- 
              <canvas baseChart height="90%" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">    
              </canvas> 
            -->
        </div>
    </div>
</div>


<ng-template #templateSucces>
    <div class="modal-body">
        <h5 class="text-center">{{modalText}}</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" (click)="modalRef.hide()">Aceptar</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>


<ng-template #template>
    <div class="modal-body">
        <!-- Edit card -->
        <div class="card mb-3">
            <div class="card-header cardHeader">
                <div class="row">
                    <div class="col title text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fas fa-lock fa-1x mx-3"></i>
                            </div>
                            <div class="col-md-8">
                                <span>CAMBIO DE CLAVE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="passForm">
                    <div class="my-3"></div>
                    <mat-form-field appearance="standard">
                        <mat-label>Contraseña</mat-label>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                        <input formControlName="password" placeholder="Nueva Contaseña" matInput [type]="hide ? 'password' : 'text'">
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Repita Contraseña</mat-label>
                        <mat-icon matSuffix (click)="hideRepeat = !hideRepeat">{{hideRepeat ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <input formControlName="repeatPassword" placeholder="Repita Nueva Contraseña" matInput [type]="hideRepeat ? 'password' : 'text'">
                    </mat-form-field>
                    <div class="alert alert-danger" role="alert" *ngIf="showError">
                        {{showErrorText}}
                    </div>
                    <button mat-raised-button color="primary" class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="cambiarClave()">CAMBIAR CLAVE</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>