h1 {
    color: white;
}

.not-empty-select.mat-selected {
    color: white !important;
}

.not-empty-select.mat-selected {
    color: white !important;
}

 :host /deep/ .mat-select-value-text {
    color: white !important;
}

.colorBlanco {
    color: white;
}

.colorAzul {
    color: #0979F9;
}

.colorRojo {
    color: red;
    font-size: 85%;
}

.cardHeader {
    background: #03a9f4;
}

.title {
    font-style: normal;
    font-weight: 100;
    font-size: 200%;
    line-height: normal;
    color: #FFFFFF;
}

.tableTitle {
    font-style: normal;
    font-weight: 100;
    font-size: 120%;
    line-height: normal;
    color: #FFFFFF;
}

.switch-text {
    color: #03a9f4;
}

.adminTableHead {
    background: #03a9f4;
}

.adminTable {
    text-align: center;
}

.btnBuscar {
    background: #03a9f4;
}

.colorPrincipal {
    color: #03a9f4;
}

.bgPrincipal {
    background: #03a9f4;
}

.country {
    display: none;
}

/deep/ .cdk-overlay-container {
    z-index: 9999;
}