<div class="card card-h1">
    <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
      <div class="text-center">
        <h6 class="card-name">{{ turnSelected ? turnSelected.code : 'SIN TURNO ASIGNADO' }}</h6>
      </div>

    </div>
    <div class="card-body">
      <div class="row justify-content-center align-middle">
        <h1>{{ seconds | formatHours }}</h1>
      </div>
    </div>
    <div class="process text-center">
      <select *ngIf="turnSelected.employee" id="process"  [formControl]="process" (change)="onChangeProcess($event.target.value)">
        <option [value]='undefined' disabled>Seleccione un proceso</option>
        <option [value] ="process._id" *ngFor="let process of processList">{{process.name}}</option>
      </select>
    </div>
  </div>
