.process {
    background-color: #03A9F4;
    height: 35px;
}

.process-name {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
}

select {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    color: white;
    text-align-last: center;
    margin-right: 0.3125rem;
    /* ICON SELECT STYLE */ 
    background: url(../../../../../assets/icons/cached-black.svg) no-repeat right #03A9F4;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 0.375rem;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
        border: 0
    }

    &:after{
        -webkit-transition: .25s all ease; 
        -o-transition: .25s all ease; 
        transition: .25s all ease; 
    }
}

option {
    border: 0;
    background: white;
    color: black;
    &:focus {
        border: 0
 }
}