<div class="card">
  <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
    <div class="row">
      <h6 class="card-name card-name-width">PRODUCTOS</h6>
    </div>

  </div>
  <div class="card-body">
    <div class="row justify-content-center" *ngIf="turnSelected.employee">

      <mat-chip-list #chipList>
        <mat-chip *ngFor="let product of productSelected"
            [selectable]="true" [removable]="true"
            (removed)="removeProduct(product)">
                {{product.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-autocomplete
            #optionsEdit="matAutocomplete"
            (optionSelected)="addProduct($event)">
            <mat-option *ngFor="let option of filteredProducts" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
        <input [formControl]="autoCompleteInput" placeholder="Producto" [matAutocomplete]="optionsEdit"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (keyup)="filterProduct($event.target)"
            (matChipInputTokenEnd)="clearInput($event)" />
      </mat-chip-list>
    </div>
    <h6 *ngIf="!turnSelected.employee" class="text-center align-middle">Seleccione un turno para poder cargar productos</h6>
  </div>
</div>
