<div class="container-fluid backgroundColor">
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-header text-center" style="background-color: #03A9F4; color: white">
                    <span>TURNOS</span>
                </div>
                <div class="card-body text-center">
                    <h1 style="margin: 0px">
                        19 turnos
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="card">
                <div class="card-header text-center" style="background-color: #03A9F4; color: white">
                    <span>TIEMPO</span>
                </div>
                <div class="card-body text-center">
                    <div class="text-center">
                        <h1 style="margin: 0px">{{ minuts > 0 ? minuts + ' m ' + seconds + ' s' : seconds + ' s'}}</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-center" style="background-color: #03A9F4; color: white">
                    <span>TIEMPO DE RESPUESTA</span>
                </div>
                <div class="card-body text-center">
                    <h1 style="margin: 0px">5 Min</h1>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mt-5">
            <table class="table">
                <thead style="background-color: #03a9f4 !important; color: white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody style="background-color: white !important">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-primary btn-lg">VOLVER</button>
        </div>
    </div>
</div>