<div class="mt-4 mb-4">
    <div class="container-fluid">
        <!-- Search -->
        <div class="row">
            <div class="col col-lg-3 offset-lg-9 align-right">
                <div class="input-group mb-2" id="search">
                    <mat-form-field class="full-width">
                        <input matInput (input)="searchStaff($event.target)" placeholder="Buscar en staff">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Card -->
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-user fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>STAFF</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminStaffForm" class="mx-3">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Nombre" formControlName="name"
                                            [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="submit && !f1.name.valid">
                                            El nombre es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Apellido" formControlName="lastName"
                                            [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="submit && !f1.lastName.valid">
                                            El apellido es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="submit && !f1.email.valid && f1.email.errors.required">
                                    El email es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="submit && !f1.email.valid && f1.email.errors.email">
                                    El email es <strong>incorrecto</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Contraseña" formControlName="password"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="submit && !f1.password.valid">
                                    La contraseña es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field>
                            <div class="form-group">
                                <div *ngIf="isLocalAdmin; then onlyOneWorkStation else moreThanOneWorkStation"></div>
                                <ng-template #onlyOneWorkStation>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <mat-form-field>
                                                <mat-label>{{ localAdress }}</mat-label>
                                                <mat-select disabled>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #moreThanOneWorkStation>
                                    <mat-form-field>
                                        <mat-label>Sucursal</mat-label>
                                        <mat-select formControlName="adress" [errorStateMatcher]="matcher">
                                            <mat-option *ngFor="let workStation of workStationsWithOutDuplicates"
                                                [value]="workStation.adress">
                                                {{ workStation.adress }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="submit && !f1.adress.valid">
                                            La sucursal es <strong>requerida</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                                <section>
                                    <mat-slide-toggle class="switch-text pt-3" color="primary" formControlName="admin">
                                        Administrador
                                    </mat-slide-toggle>
                                    <div class="pt-3"></div>
                                </section>
                            </div>
                            <button mat-raised-button color="primary"
                                class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="addStaffMember()">+
                                AGREGAR NUEVO</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="col-lg-6">
                <div class="card">
                    <table class="table adminTable">
                        <thead class="adminTableHead colorBlanco">
                            <tr>
                                <th class="align-middle tableTitle" scope="col">Nombre</th>
                                <th class="align-middle tableTitle" scope="col">Sucursal</th>
                                <th class="align-middle tableTitle" scope="col"></th>
                                <th class="align-middle tableTitle" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let staffMember of staffMembers | paginate: { id: 'staffTable', itemsPerPage: 6, currentPage: pageActual}">
                                <td class="align-middle">{{ staffMember.name }} {{ staffMember.lastName }}</td>
                                <td class="align-middle">
                                    {{ staffMember.workStation.adress === '' ? 'Adm. General' : (staffMember.admin ? 'Adm. Local ('+staffMember.workStation.adress+')' : staffMember.workStation.adress) }}
                                </td>
                                <td (click)="editStaffMember(staffMember._id)" class="align-middle"><button
                                        type="button" class="btn btn-outline-primary btn-sm"><i
                                            class="fas fa-edit"></i></button></td>
                                <td class="align-middle"><button (click)="deleteStaffMember(staffMember._id)"
                                        type="button" class="btn btn-outline-danger  btn-sm"><i
                                            class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="staffTable" previousLabel="Anterior" nextLabel="Siguiente"
                        (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <ng-template #templateStaffMessage>
            <div class="modal-body">
                <h5 class="text-center">{{ msgModal }}</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="modalRef.hide()">Aceptar</button>
                    </div>
                </div>
            </div>
            <br>
        </ng-template>

        <ng-template #templateEdit>
            <div class="modal-body">
                <!-- Edit card -->
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-user fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>STAFF</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminStaffFormEdit" class="mx-3">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Nombre" formControlName="nameEdit"
                                            [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="submitEdit && !f2.nameEdit.valid">
                                            El nombre es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Apellido" formControlName="lastNameEdit"
                                            [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="submitEdit && !f2.lastNameEdit.valid">
                                            El apellido es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="emailEdit"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="submitEdit && !f2.emailEdit.valid && f2.emailEdit.errors.required">
                                    El email es <strong>requerido</strong>
                                </mat-error>
                                <mat-error *ngIf="submitEdit && !f2.emailEdit.valid && f2.emailEdit.errors.email">
                                    El email es <strong>incorrecto</strong>
                                </mat-error>
                            </mat-form-field>
                            <!-- La linea de abajo permite que se asigne un empleado de una sucursal a otra segun sea adminGlobal o no -->
                            <!-- <div *ngIf="isLocalAdmin; then onlyOneWorkStation else moreThanOneWorkStation"></div> -->
                            <div class="form-group">

                                <!--            <ng-template #onlyOneWorkStation>
                                                                <div class="row">
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="colorPrincipal" color="primary">- Sucursal ({{localAdress}}) <i class="fas fa-check fa-1x mx-3"></i></p>
                                        </div>
                                    </div> -->
                                <div class="row">
                                    <div class="col-xs-8 col-sm-12">
                                        <mat-form-field>
                                            <mat-label>{{ localAdress }}</mat-label>
                                            <mat-select disabled>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!--                           </ng-template>
                                <ng-template #moreThanOneWorkStation>

                                             <mat-form-field>
                                        <mat-label>Sucursal</mat-label>
                                        <mat-select formControlName="adressEdit" [errorStateMatcher]="matcher">

                                            <mat-option *ngFor="let workStation of workStationsWithOutDuplicates"
                                                [value]="workStation.adress">
                                                {{ workStation.adress }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="submitEdit && !f2.adressEdit.valid">
                                            La sucursal es <strong>requerida</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>   -->
                                <section>
                                    <mat-slide-toggle class="switch-text pt-3" color="primary"
                                        formControlName="adminEdit">
                                        Administrador Local
                                    </mat-slide-toggle>
                                    <div class="pt-3"></div>
                                </section>
                            </div>
                            <button mat-raised-button color="primary"
                                class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal"
                                (click)="updateStaffService()">ACTUALIZAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
