<div class="mt-4 mb-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- Table -->
            <ngx-gauge [type]="'none'" 
                       [value]="onlineUsers" 
                       [label]="'Online'"
                       [append]="'users'"
                       class="m-1">
            </ngx-gauge>
            <ngx-gauge [type]="'arch'" 
                       [value]="busyUsers" 
                       [label]="'Ocupados'"
                       [append]="'%'"
                       class="m-1">
            </ngx-gauge>
            <ngx-gauge [type]="'arch'" 
                       [value]="freeUsers" 
                       [label]="'Libres'"
                       [append]="'%'"
                       class="m-1">
            </ngx-gauge>

            <!-- Search -->
            <div class="col-lg-8 center">
                <div class="input-group mb-2" id="search">
                    <mat-form-field class="full-width">
                        <input matInput (keyup)="search($event.target)" placeholder="Buscar staff" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <table class="table adminTable">
                        <thead class="adminTableHead colorBlanco">
                            <tr>
                                <th class="align-middle tableTitle" scope="col">Email</th>
                                <th class="align-middle tableTitle" scope="col">Estado</th>
                                <th class="align-middle tableTitle" scope="col">Sucursal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let client of filteredClients | paginate: { id: 'clientsTable', itemsPerPage: 4, currentPage: page}">
                                <td class="align-middle">{{ client.email }}</td>
                                <td class="align-middle">{{ client.status }}</td>
                                <td class="align-middle">{{ client.station }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="clientsTable" previousLabel="Anterior" nextLabel="Siguiente"
                        (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>