.reading-block{
	color: white;
}

.reading-label{
	color: white;
}

#search::ng-deep .mat-form-field-label {
    color: white!important;
}  
  
#search::ng-deep .mat-form-field-underline {
      background-color: white!important;
}

#search::ng-deep .mat-form-field{
    color:white;
}

/deep/ .cdk-overlay-container { z-index: 9999; }