<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-10 offset-md-1 mt-2">
      <mat-tab-group mat-align-tabs="center" color="primary">
        <mat-tab label="ESTADO">
            <app-admin-status></app-admin-status>
        </mat-tab>
        <mat-tab label="ESTACIÓN">
          <app-admin-station></app-admin-station>
        </mat-tab>
        <mat-tab label="PROCESO">
          <app-admin-process></app-admin-process>
        </mat-tab>
        <mat-tab label="PRODUCTO">
          <app-admin-product></app-admin-product>
        </mat-tab>
        <mat-tab label="STAFF">
            <app-admin-staff></app-admin-staff>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button mat-raised-button color="primary" [routerLink]="['/welcome']" class="mr-2">VOLVER</button>
    </div>
  </div>