<form [formGroup]="informationForm">
  <div class="card">
    <!-- style="height: 267px;" -->
    <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
      <div class="text-center">
        <h6 class="card-name">INFORMACIÓN</h6>
      </div>

    </div>
    <div class="card-body">
      <div class="row justify-content-center mx-2">
        <div *ngIf="!turnSelected.client">
          <h6>Por favor, seleccione un cliente</h6>
        </div>
        <div *ngIf="turnSelected.client">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" [errorStateMatcher]="matcher" (change)="refreshForm()">
            <mat-error *ngIf="!f1.name.valid">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName" [errorStateMatcher]="matcher" (change)="refreshForm()">
            <mat-error *ngIf="!f1.lastName.valid">
              El apellido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nro de Linea</mat-label>
            <input matInput type="number" formControlName="phone" (change)="refreshForm()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>DNI / CUIL</mat-label>
            <input matInput type="number" formControlName="dni" (change)="refreshForm()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" (change)="refreshForm()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Origen</mat-label>
            <mat-select matNativeControl formControlName="origin" (selectionChange)="changeOrigin()">
                <mat-option value="Vidriera">
                    Vidriera
                </mat-option>
                <mat-option value="Walkin">
                    Walk in
                </mat-option>
                <mat-option value="Redes">
                    Redes
                </mat-option>
                <mat-option value="Telefono">
                    Telefono
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
