<div class="container-fluid">
    <form [formGroup]="formTurn">
        <div class="col-lg-12 row form-option">

            <div class="col-lg-4 col-sm-12 mt-3">
                <div class="card text-center">
                    <div class="card-header text-center cardsHeaders">
                        <span>INFORMACION</span>
                    </div>

                    <div class="card-body">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="!f1.name.valid">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="!f1.lastName.valid">
                                El apellido es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nro de Linea</mat-label>
                            <input matInput type="number" maxlength="8" formControlName="nroLinea">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>DNI</mat-label>
                            <input matInput maxlength="8" type="number" formControlName="dni">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Origen</mat-label>
                            <mat-select matNativeControl formControlName="origin">
                                <mat-option value="Vidriera">
                                    Vidriera
                                </mat-option>
                                <mat-option value="Walkin">
                                    Walk in
                                </mat-option>
                                <mat-option value="Redes">
                                    Redes
                                </mat-option>
                                <mat-option value="Telefono">
                                    Telefono
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!f1.origin.valid">
                                El origen es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-lg-8  col-sm-12 mt-3">
                <div class="card text-center">
                    <div class="card-header text-center cardsHeaders">
                        <span>PROCESOS</span>
                    </div>
                    <div class="card-body">
                            <button 
                                mat-raised-button
                                *ngFor="let process of processList"
                                class="m-2 btn btn-primary"
                                [color]="process.isSelected ? 'warn' : 'primary'"
                                (click)="onChangeChip(process)" 
                                [value]="process">{{process.name}}</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12 mt-3 mb-3">
                <div class="card text-center">
                    <div class="card-header text-center cardsHeaders">
                        <span>NOTAS</span>
                    </div>
                    <div class="card-body">

                        <mat-form-field>
                            <textarea matInput formControlName="notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="onSubmit()" class="mr-2">INGRESAR</button>
        <button mat-raised-button color="primary" routerLink="/welcome" class="mr-2">VOLVER</button>
    </div>
</div>

<ng-template #templateError>
    <div class="modal-body">
        <h5 class="text-center">{{modalText}}</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="text-center" mat-raised-button color="primary" (click)="modalRef.hide()">ACEPTAR</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>