<app-navbar [isLogged]="userLogged"></app-navbar>
<div class="layoutContainer overflow-auto">
    <router-outlet>
    </router-outlet>
</div>
<!-- Footer -->
<app-footer [isLogged]="userLogged"></app-footer>
<!-- Footer -->