<div class="mt-4 mb-4">
    <div class="container-fluid">
        <!-- Search -->
        <div class="row">
            <div class="col col-lg-3 offset-lg-9 align-right">
                <div class="input-group mb-2" id="search">
                    <mat-form-field class="full-width">
                        <input matInput (input)="searchStation($event.target)" placeholder="Buscar en estaciones" value="">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Card -->
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-desktop fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>ESTACIÓN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminStationForm" class="mx-3">
                            <div *ngIf="isGlobalAdmin; then formGlobalAdmin else formLocalAdmin"></div>

                            <ng-template #formGlobalAdmin>
                                <div *ngIf="switchNewStation; then newStation else existingStation"></div>
                                <div class="row">
                                    <ng-template #newStation>
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8">
                                                <mat-form-field>
                                                    <input matInput placeholder="Nueva dirección" formControlName="adress" [errorStateMatcher]="matcher">
                                                    <mat-error *ngIf="submit && !f1.adress.valid && !emptyStations">
                                                        La dirección es <strong>requerida</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <section>
                                                    <mat-slide-toggle class="colorPrincipal pt-3" color="primary" (change)="onSwitchNewStationChange()" checked=true>
                                                        Nueva
                                                    </mat-slide-toggle>
                                                </section>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #existingStation>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-8">
                                                <div class="form-group">
                                                    <div *ngIf="msgEstaciones; then emptyStations else loadStations">
                                                    </div>
                                                    <ng-template #emptyStations>
                                                        <p class="msgEstaciones">Parece que aún no hay estaciones, por favor crea una nueva.</p>
                                                    </ng-template>

                                                    <ng-template #loadStations>
                                                        <mat-form-field>
                                                            <mat-label>Sucursal</mat-label>
                                                            <mat-select formControlName="adress" [errorStateMatcher]="matcher" (change)="onWorkStationChange($event.target.value)">
                                                                <mat-option *ngFor="let workStation of workStationsWithOutDuplicates" [value]="workStation.adress">
                                                                    {{ workStation.adress }}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error *ngIf="submit && !f1.adress.valid">
                                                                La sucursal es <strong>requerida</strong>
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </ng-template>
                                                    <div *ngIf="submit && !f1.adress.valid && !emptyStations" class="animated fadeIn">
                                                        <div class="error-message colorRojo">La dirección es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <section>
                                                    <mat-slide-toggle class="colorPrincipal pt-3" color="primary" (change)="onSwitchNewStationChange()" checked=false>
                                                        Nueva
                                                    </mat-slide-toggle>
                                                </section>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </ng-template>
                            <ng-template #formLocalAdmin>


                                <div *ngIf="msgEstaciones; then emptyStations else loadStations"></div>

                                <ng-template #emptyStations>
                                    <p class="msgEstaciones">Parece que aún no hay estaciones, por favor crea una nueva.</p>
                                </ng-template>
                                <ng-template #loadStations>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8">
                                            <mat-form-field>
                                                <mat-label>{{ localAdress }}</mat-label>
                                                <mat-select disabled>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-template>

                            <div *ngIf="multipleBoxes; then multiples else onlyOneBox"></div>
                            <ng-template #multiples>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="Desde" formControlName="firstBox" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="submit && !f1.firstBox.valid">
                                                El primer box es <strong>requerido</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput placeholder="Hasta" formControlName="lastBox" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="submit && !f1.lastBox.valid">
                                                El último box es <strong>requerido</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <section class="pt-3">
                                            <mat-slide-toggle class="colorPrincipal" color="primary" (click)="onMultipleBoxesChange()" checked=true>
                                                Múltiples
                                            </mat-slide-toggle>
                                        </section>
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template #onlyOneBox>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <mat-form-field>
                                            <input matInput placeholder="Nro. Box" formControlName="boxNumber" [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="submit && !f1.boxNumber.valid">
                                                El nro de box es <strong>requerido</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-sm-4">
                                        <section class="pt-3">
                                            <mat-slide-toggle class="colorPrincipal" color="primary" (click)="onMultipleBoxesChange()" checked=false>
                                                Múltiples
                                            </mat-slide-toggle>
                                        </section>
                                    </div>
                                </div>

                            </ng-template>
                            <section>
                                <mat-slide-toggle class="colorPrincipal pt-5" color="primary" formControlName="switchEnable">
                                    Habilitado
                                </mat-slide-toggle>
                            </section>
                            <br />
                            <div>
                                <button mat-raised-button color="primary" class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="addStation()">+
                                    AGREGAR NUEVO</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="col-lg-6">
                <div class="card">
                    <table class="table adminTable">
                        <thead class="adminTableHead colorBlanco">
                            <tr>
                                <th class="align-middle tableTitle" scope="col">Nombre</th>
                                <th class="align-middle tableTitle" scope="col">Sucursal</th>
                                <th class="align-middle tableTitle" scope="col"></th>
                                <th class="align-middle tableTitle" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let workStation of workStations | paginate: { id: 'stationTable', itemsPerPage: 4, currentPage: pageActual}">
                                <td class="align-middle">BOX {{ workStation.boxNumber }}</td>
                                <td class="align-middle">{{ workStation.adress }}
                                </td>
                                <td (click)="editWorkStation(workStation._id)" class="align-middle"><button type="button" class="btn btn-outline-primary btn-sm"><i
                                            class="fas fa-edit"></i></button></td>
                                <td class="align-middle"><button (click)="deleteWorkStation(workStation._id)" type="button" class="btn btn-outline-danger btn-sm"><i
                                            class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="stationTable" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>

        <ng-template #templateStationMessage>
            <!--             <div class="modal-header">
                <h4 class="modal-title pull-left">MENSAJE</h4>
            </div> -->
            <div class="modal-body">
                <h5 class="text-center">{{ msgModal }}</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="modalRef.hide()">Aceptar</button>
                    </div>
                </div>
            </div>
            <br>
        </ng-template>


        <ng-template #templateEdit>
            <!--             <div class="modal-header">
                <h4 class="modal-title pull-left">EDITAR ESTACIÓN</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <!-- Edit card -->
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-desktop fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>ESTACIÓN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminStationFormEdit" class="mx-3">

                            <!--                             <mat-form-field>
                                <mat-label>Sucursal</mat-label>
                                <mat-select formControlName="adressFormEdit" [errorStateMatcher]="matcher"
                                    (change)="onWorkStationChange($event.target.value)">
                                    <mat-option *ngFor="let workStation of workStationsWithOutDuplicates"
                                        [value]="workStation.adress">
                                        {{ workStation.adress }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="submit && !f1.adress.valid">
                                    La sucursal es <strong>requerida</strong>
                                </mat-error>
                            </mat-form-field> -->

                            <div class="row">
                                <div class="col-xs-8 col-sm-12">
                                    <mat-form-field>
                                        <mat-label>{{ adressToEdit }}</mat-label>
                                        <mat-select disabled>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Nro. Box" formControlName="boxNumberFormEdit" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="submitEdit && !f2.boxNumberFormEdit.valid">
                                            El nro de box es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <section>
                                <mat-slide-toggle class="colorPrincipal pt-5" color="primary" formControlName="switchEnableFormEdit">
                                    Habilitado
                                </mat-slide-toggle>
                            </section>
                            <br />
                            <button mat-raised-button color="primary" class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="updateWorkStationService()">ACTUALIZAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
