<div class="card card-h1">
    <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
      <div class="text-center">
        <h6 class="card-name">NOTAS</h6>
      </div>

    </div>
    <div class="card-body">
      <div class="notas-container">
        <mat-form-field>
            <textarea (focusout)="refreshNotes($event)" [formControl]="notesForm" matInput rows="5">{{ turnSelected ? turnSelected.notes : '' }}</textarea>
          </mat-form-field>
      </div>
    </div>
  </div>
