textarea {
    .mat-input-element {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: white;
    }
}

.notas-container {
 border: 0;
 margin: 0;
 padding: 0;
}

mat-form-field.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

mat-form-field.mat-form-field-infix {
    padding: 0;
    margin: 0;
}