<div class="container-fluid bg-transparent">
    <div class="row">
        <div class="col-sm-10 col-md-7 col-lg-5 mx-auto" style="margin-top: 10%">

            <div class="text-white mb-3 text-center" style="max-height: 30rem;">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <img class="img-fluid" src="../../../assets/icons/logoGrande.png">
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" class="col-sm-8 offset-sm-2">
                        <div class="input-group input">
                            <mat-form-field appearance="standard">
                                <mat-label class="text-white">Usuario</mat-label>
                                <mat-icon matSuffix>account_box</mat-icon>
                                <input type="email" (keyup.enter)="onSubmit()" matInput formControlName="username">
                            </mat-form-field>
                            <mat-error *ngIf="submit && !f1.username.valid">
                                Usuario es <strong>required</strong>
                            </mat-error>
                            <style>
                                .mat-form-field-appearance-standard .mat-form-field-underline {
                                    background-color: white;
                                }
                            </style>
                            <mat-form-field appearance="standard">
                                <mat-label class="text-white">Contraseña</mat-label>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                                <input type="password" (keyup.enter)="onSubmit()" matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            </mat-form-field>
                            <mat-error *ngIf="submit &&!f1.password.valid">
                                Password es <strong>requerido</strong>
                            </mat-error>
                        </div>
                    </form>
                    <br>
                    <div class="col-sm-12 text-center">
                        <button mat-raised-button color="primary" (click)="onSubmit()">INGRESAR</button>
                    </div>
                </div>


            </div>
        </div>

        <ng-template #template>
            <div class="modal-body">
                <h5 class="text-center">{{modalText}}</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="modalRef.hide()">Aceptar</button>
                    </div>
                </div>
            </div>
            <br>
        </ng-template>