.reading-block{
    color: white;
}

.reading-label{
    color: white;
}

.cardHeader {
    background: #03a9f4;
}

.bgPrincipal {
    background: #03a9f4;
}

.tableTitle {
    font-style: normal;
    font-weight: 100;
    font-size: 150%;
    line-height: normal;
    color: #FFFFFF;
}

.switch-text {
    color: #03a9f4;
}

.adminTableHead {
    background: #03a9f4;
}

.adminTable {
    text-align: center;
}

.mat-tab-label {
    color: white;
}

.mat-ink-bar {
    background-color: #03a9f4 !important;
    min-width: 120px;
}

.mat-form-field-appearance-legacy  {
    color: rgba(254,254,254,0.9);
}

.mat-form-field-label {
    color: rgba(254,254,254,0.9);
}

.mat-hint {
    color: rgba(254,254,254,0.9);
}

.mat-form-field.mat-focused {
    color: rgba(200,200,200,0.9);
}

#search::ng-deep .mat-form-field-label {
    color: white!important;
}  
  
#search::ng-deep .mat-form-field-underline {
      background-color: white!important;
}

#search::ng-deep .mat-form-field{
    color:white;
}
