<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- Search -->
        <div class="col-lg-8 center">
            <div class="input-group mb-2" id="search">
                <mat-form-field class="full-width">
                    <input matInput (keyup)="search($event.target)" placeholder="Buscar" value="">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <table class="table adminTable">
                    <thead class="adminTableHead colorBlanco">
                        <tr>
                            <th class="align-middle tableTitle" scope="col">Fecha</th>
                            <th class="align-middle tableTitle" scope="col">Nombre</th>
                            <th class="align-middle tableTitle" scope="col">Apellido</th>
                            <th class="align-middle tableTitle" scope="col">Telefono</th>
                            <th class="align-middle tableTitle" scope="col">Proceso</th>
                            <th class="align-middle tableTitle" scope="col">Motivo no venta</th>
                            <th class="align-middle tableTitle" scope="col">Notas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let turn of filteredTurns | paginate: { id: 'myTurnsTable', itemsPerPage: 7, currentPage: page}">
                            <td class="align-middle">{{ turn.createdAt | slice:0:10 }}</td>
                            <td class="align-middle">{{ turn.client.name }}</td>
                            <td class="align-middle">{{ turn.client.lastName }}</td>
                            <td class="align-middle">{{ turn.client.phone }}</td>
                            <td class="align-middle">{{ turn.process.name }}</td>
                            <td class="align-middle">{{ turn.pendingActions }}</td>
                            <td class="align-middle">{{ turn.notes }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls id="myTurnsTable" previousLabel="Anterior" nextLabel="Siguiente"
                    (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
	<br/>
    <div class="col text-center">
      <button mat-raised-button color="primary" [routerLink]="['/welcome']" class="mr-2">VOLVER</button>
    </div>
  </div>