<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <!-- PROCESOS -->
                <div class="col-lg-6 col-sm-12 mb-2 mt-3">
                    <div class="container-fluid">
                        <app-process (processSelected)="refreshProcess($event)" [turnSelected]="turnSelected"
                                    [seconds]="seconds"></app-process>
                    </div>
                </div>
                <!-- NOTAS -->
                <div class="col-lg-6 col-sm-12 mb-2 mt-3">
                    <div class="container-fluid">
                    <app-notes (notes)="refreshNotes($event)" [turnSelected]=turnSelected></app-notes>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- ATENCIONES -->
                <div class="col-lg-6 col-sm-12">
                    <div class="container-fluid">
                        <app-attention [turnSelectedInput]="turnSelected" (turnSelectedOutput)="refheshTurnSelected($event)"></app-attention>
                    </div>
                </div>
                <!-- INFORMACIÓN -->
                <div class="col-lg-6 col-sm-12">
                    <div class="container-fluid">
                    <app-information (clientInfo)="refreshClientInfo($event)" [turnSelected]="turnSelected"></app-information>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <!-- PRODUCTOS -->
                <div class="col-lg-12 col-sm-12 mb-2 mt-3">
                    <div class="container-fluid">
                        <app-product [turnSelected]="turnSelected" (turnProduct)="selectProducts($event)"></app-product>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- RELACIONADOS -->
                <div class="col-lg-12 col-sm-12">
                    <div class="container-fluid">
                        <app-related [processSelected]="turnSelected.process"></app-related>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
