<div class="mt-4 mb-4">
    <div class="container-fluid">
        <!-- Search -->
        <div class="row">
            <div class="col col-lg-3 offset-lg-9 align-right">
                <div class="input-group mb-2" id="search">
                    <mat-form-field class="full-width">
                        <input matInput (input)="searchProcess($event.target)" placeholder="Buscar en procesos"
                            value="">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Card -->
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-cogs fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>PROCESO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminProcessForm" class="mx-3">
                            <mat-form-field>
                                <input matInput placeholder="Nombre" formControlName="name"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="submit && !f1.name.valid">
                                    El nombre del proceso es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Descripción" formControlName="description"
                                    [errorStateMatcher]="matcher">
                            </mat-form-field>
                            <mat-form-field class="">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let process of suggestions" [selectable]="selectable"
                                        [removable]="removable" (removed)="removeSuggestion(process)">
                                        {{process.name}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <mat-autocomplete #options="matAutocomplete"
                                        (optionSelected)="addSuggestion($event)">
                                        <mat-option *ngFor="let option of filteredProcesses" [value]="option.name">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <input placeholder="Recomendaciones" [matAutocomplete]="options"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="clearInput($event)"
                                        (keypress)="filterProcess($event.target)" />
                                </mat-chip-list>
                            </mat-form-field>
                            <button mat-raised-button color="primary"
                                class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="addProcess()">+
                                AGREGAR NUEVO</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="col-lg-6">
                <div class="card">
                    <table class="table adminTable">
                        <thead class="adminTableHead colorBlanco">
                            <tr>
                                <th class="align-middle tableTitle" scope="col">Nombre</th>
                                <th class="align-middle tableTitle" scope="col">Descripción</th>
                                <th class="align-middle tableTitle" scope="col"></th>
                                <th class="align-middle tableTitle" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let process of processes | paginate: { id: 'processTable', itemsPerPage: 4, currentPage: pageActual}">
                                <td class="align-middle">
                                    {{ process.name }}
                                </td>
                                <td class="align-middle">
                                    {{ process.description === '' ? 'Sin descripción' : process.description }}
                                </td>
                                <td (click)="editProcess(process._id)" class="align-middle">
                                    <button type="button" class="btn btn-outline-primary btn-sm"><i
                                            class="fas fa-edit"></i></button>
                                </td>
                                <td class="align-middle">
                                    <button (click)="deleteProcess(process._id)" type="button"
                                        class="btn btn-outline-danger  btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="processTable" previousLabel="Anterior" nextLabel="Siguiente"
                        (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <ng-template #templateProcessMessage>
            <div class="modal-body">
                <h5 class="text-center">{{ msgModal }}</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="modalRef.hide()">Aceptar</button>
                    </div>
                </div>
            </div>
            <br>
        </ng-template>

        <ng-template #templateEdit>
            <div class="modal-body">
                <!-- Edit card -->
                <div class="card mb-3">
                    <div class="card-header cardHeader">
                        <div class="row">
                            <div class="col title text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-cogs fa-1x mx-3"></i>
                                    </div>
                                    <div class="col-md-8">
                                        <span>PROCESO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="my-3"></div>
                        <form [formGroup]="adminProcessFormEdit" class="mx-3">
                            <mat-form-field>
                                <input matInput placeholder="Nombre" formControlName="name"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="submitEdit && !f2.name.valid">
                                    El nombre del proceso es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Descripción" formControlName="description"
                                    [errorStateMatcher]="matcher">
                            </mat-form-field>
                            <mat-form-field class="">
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let process of processToEdit.suggestions"
                                        [selectable]="selectable" [removable]="removable"
                                        (removed)="removeSuggestionEdit(process)">

                                            {{process.name}}

                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <mat-autocomplete
                                        #optionsEdit="matAutocomplete"
                                        (optionSelected)="addSuggestionEdit($event)">
                                        <mat-option *ngFor="let option of filteredProcesses" [value]="option.name">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <input placeholder="Recomendaciones" [matAutocomplete]="optionsEdit"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="clearInput($event)" />
                                </mat-chip-list>
                            </mat-form-field>
                            <button mat-raised-button color="primary"
                                class="mt-2 py-2 tableTitle btn-lg btn-block bgPrincipal" (click)="updateProcess()">
                                ACTUALIZAR
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
