.colorBlanco {
    color: white;
}

.colorRojo {
    color: red;
    font-size: 85%;
}

.cardHeader {
    background: #03a9f4;
}

.card-header{
    padding: 1.75rem!important;
    font-size: 1.5rem!important;
}

.bgPrincipal {
    background: #03a9f4;
}

.title {
    font-style: normal;
    font-weight: 100;
    font-size: 200%;
    line-height: normal;
    color: #FFFFFF;
}

.tableTitle {
    font-style: normal;
    font-weight: 100;
    font-size: 120%;
    line-height: normal;
    color: #FFFFFF;
}

.switch-text {
    color: #03a9f4;
}

.adminTableHead {
    background: #03a9f4;
}

.adminTable {
    text-align: center;
}

.btnBuscar {
    background: #03a9f4;
}

.colorPrincipal {
    background: #03a9f4;
}

.example-chip-list {
    width: 100%;
  }

#search::ng-deep .mat-form-field-label {
    color: white!important;
}  
  
#search::ng-deep .mat-form-field-underline {
      background-color: white!important;
}
  
#search::ng-deep .mat-form-field{
    color:white;
}

/deep/ .cdk-overlay-container { z-index: 9999; }
