<div class="container-fluid" style="padding-bottom: 0px">
    <nav class="row row-no-margin navbar navbar-dark bg-dark">
        <img [routerLink]="['/welcome']" class="header-img" src="/../assets/icons/logoGrande.png" />
        <button *ngIf="isLogged" class="btn text-white bg-danger" (click)="cerrarSesion()"><span class="material-icons">
          power_settings_new
          </span></button>
    </nav>
</div>
