/* You can add global styles to this file, and also import other style files */

@import 'material';
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($primaryButton);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($md-matrojo);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.container-fluid {
    padding-bottom: 2%;
}

html,
body {
    height: 100%;

    /* VERIFICAR SI SACAR O NO*/
    overflow: hidden !important;    
}

.overflow-auto {
&::-webkit-scrollbar 
    {
        width: 0.4375rem;
        color: white;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
}



.layoutContainer {
    background-color: #303030;
    height: 85%;
}

.input-group.has-person-icon {
    position: relative;
    .form-control {
        padding-left: 3rem;
    }
    &::before {
        content: '\F47D';
        font-family: 'Ionicons';
        font-size: 2rem;
        position: absolute;
        z-index: 100;
        left: 1rem;
        top: 0.25rem;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10%,
    90% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.cardsHeaders {
    background-color: #03A9F4 !important;
    color: white !important;
}

.colorBlanco {
    color: white;
}

.greyButton {
    color: #144E71;
    cursor: pointer;
}

.error-msg {
    color: red;
    font-size: 85%;
    text-align: left;
}

.big.btn {
    font-size: 1.5em!important;
    line-height: 3!important;
}

//backgrounds
.bg-loghinet {
    background-color: #01719e;
}

.bg-transparent {
    background-color: transparent;
}

// navbar
.navbar {
    height: 8%;
}

.navbar-brand>img {
    max-width: 12%;
}

//footer header
footer {
    height: 7%;
}

.footer-img {
    max-width: 8em!important;
}

.header-img {
    max-width: 10em!important;
}

// text
.text-right {
    padding-right: 3%;
}

.text-left {
    padding-left: 3%;
}

h1 {
    font-size: 3.5rem!important;
}

h2 {
    font-weight: 200!important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}

.card-h1{
    height: 200px;
}

.card-name {
    margin: 0;
}