<div class="container-fluid backgroundColor">

    <form [formGroup]="turnForm" class="mx-3">
        <div class="row">
            <div class="col-lg-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>TIEMPO</span>
                    </div>
                    <div class="card-body text-center">
                        <h1 style="margin: 0px">
                            {{ seconds | formatHours}}
                        </h1>
                    </div>
                    <div class="card-footer text-center cardsHeaders" style="padding-top: 5px; padding-bottom: 0px;">
                        <h6>DISPONIBLE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>NOTAS</span>
                    </div>
                    <div class="card-body text-center" style="padding: 0px">
                        <div class="col-12">
                            <mat-form-field>
                                <textarea matInput rows="5" formControlName="notes"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-3 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>TURNO</span>
                    </div>
                    <div class="card-body text-center">
                        <h1 style="margin: 0px">
                            {{turnSelected ? turnSelected.code : ''}}
                        </h1>
                        <h2 style="margin: 0px">
                            {{process ? process.name : ''}}
                        </h2>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>ATENCION</span>
                    </div>
                    <div class="card-body text-center card-body-turn-client">

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <button mat-raised-button color="primary" class="py-2 m-1 btn-lg col-11" (click)="getNewTurn()">ATENDER</button>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <button mat-raised-button color="primary" class="py-2 m-1 btn-lg col-11" [disabled]="!turnSelected" (click)="freeTurn()">DERIVAR</button>
                            </div>
                        </div>

                        <div class="card" *ngFor="let turn of turnList">
                            <div [ngClass]="{'client-selected': turnSelected === turn}" class="card-body" (click)="selectClient(turn)">
                                <div class="row">

                                    <div class="col-2 client-turn-names-short">
                                        <span>{{turn.client.name | slice:0:1 | uppercase}}{{turn.client.lastName | slice:0:1 | uppercase}}</span>
                                    </div>

                                    <span class="col-8 align-middle"> {{ turn.client.name ? turn.client.name : 'Anonimo' }} {{ turn.client ? turn.client.lastName : '' }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button [disabled]="turnSelected" mat-raised-button color="primary" class="col-10 mt-2" (click)="fastTurn()">
                                    TURNO RAPIDO
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>INFORMACION</span>
                    </div>
                    <div class="card-body text-center">

                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="!f1.name.valid">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="!f1.lastName.valid">
                                El apellido es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nro de Linea</mat-label>
                            <input matInput type="number" formControlName="numberline">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>DNI</mat-label>
                            <input matInput type="number" formControlName="dni">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header text-center cardsHeaders">
                        <span>PROCESOS RELACIONADOS</span>
                    </div>
                    <div class="card-body text-center">
                        <button mat-raised-button class="mr-2" [color]="process.isSelected ? 'warn' : 'primary'" (click)="onChangeChip(process)" *ngFor="let process of processList" [value]="process">{{process.name}}</button>
                    </div>
                </div>
            </div>


        </div>
    </form>
    <br>
    <div class="text-center">
        <button mat-raised-button color="primary" [disabled]='!turnSelected' (click)="enviarFinalizar()" class="mr-2"><i class="fas fa-check fa-lg"></i> CERRAR TURNO</button>
        <button mat-raised-button color="primary" [disabled]='!turnSelected' class="mr-2" (click)="pauseTurn()"><i class="far fa-pause-circle fa-lg"></i> PAUSAR TURNO</button>
        <button mat-raised-button color="primary" [disabled]='!turnSelected' class="mr-2" (click)="cloneTurn()"><i class="fas fa-clone fa-lg"></i> CLONAR TURNO</button>
        <button mat-raised-button color="primary" (click)="onVolver()" [disabled]='turnSelected' class="mr-2">VOLVER</button>
    </div>

</div>

<ng-template #templateError>
    <div class="modal-body">
        <h5 class="text-center">{{modalText}}</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" (click)="modalRef.hide()">ACEPTAR</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templatePausa>
    <div class="modal-header">
        <h4 class="modal-title pull-left">PAUSA</h4>
    </div>
    <div class="modal-body">
        <h5 class="text-center">Cliente en espera ¿desea llamar a otro cliente o continuar con el mismo?</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" class="mr-2" (click)="llamarCliente()">LLAMAR OTRO CLIENTE</button>
                <button mat-raised-button color="primary" (click)="modalRef.hide()">CONTINUAR</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateFinish>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ACCIONES PENDIENTES</h4>
    </div>
    <div class="modal-body">
        <h5 class="text-center">¿Consideraría que el cierre de la operación fue exitoso o quedaron pendientes?</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" class="mr-2" (click)="openPopAcciones()">NO EXITOSO</button>
                <button mat-raised-button color="primary" (click)="finishTurn(false)">EXITOSO</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateAcciones>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Detalle de acciones pendientes</h4>
    </div>
    <div class="modal-body">

        <mat-form-field>
            <mat-label>Seleccione un motivo</mat-label>
            <mat-select [(value)]="motivoSeleted" (valueChange)="changeMotivo(motivoSeleted)">
                <mat-option value="Mal categorizado">Mal categorizado</mat-option>
                <mat-option value="Producto sin stock">Producto sin stock</mat-option>
                <mat-option value="Sin saldo en forma de pago">Sin saldo en forma de pago</mat-option>
                <mat-option value="Disconformidad con precio">Disconformidad con precio</mat-option>
                <mat-option value="Cliente no cumple requisitos">Cliente no cumple requisitos</mat-option>
                <mat-option value="Problema durante la atención">Problema durante la atención</mat-option>
                <mat-option value="Otro">Otro</mat-option>
            </mat-select>
        </mat-form-field>
        <!--mat-form-field class="example-full-width">
            <mat-label>Motivo</mat-label>
            <input matInput [(value)]="motivoString" #pendingAction (change)="changeMotivoString(pendingAction.value)">
        </mat-form-field-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" [disabled]="motivoSeleted === ''" class="mr-2" (click)="enviarAccion()">ENVIAR</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>

<ng-template #templateSugerencias>
    <div class="modal-body">
        <h5 class="text-center">¿Desea finalizar sin mostrar las siguientes sugerencias de procesos?</h5>
        <div *ngFor="let processSug of processList">
            <li *ngIf="!processSug.isSelected">{{processSug.name}}</li>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button mat-raised-button color="primary" class="mr-2" (click)="openPopupFinish('true')">ENVIAR</button>
            </div>
        </div>
    </div>
    <br>
</ng-template>