.card-body-turn-client {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
}

.client-turn-names-short {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #9c27b0;
    background-color: #9c27b0;
    font-weight: bold;
    color: white;
}

.client-selected {
    background-color: #03a9f4;
}

/deep/ .cdk-overlay-container { z-index: 9999; }
