.card-name-width {
    text-align: center;
}

.card-body-turn-client {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    cursor: pointer;
}

.client-selected {
  background-color: #03a9f4;
}

.noMargin {
  padding-left: 0;
  padding-right: 0;
}

::ng-deep snack-bar-container simple-snack-bar{

  .mat-simple-snackbar-action {
    color: #03a9f4;
  }

  color:white

}

