<div class="card" style="height: 267px;">
  <div [class.mat-elevation-z8]="true" class="card-header cardsHeaders">
    <div class="row col-12">
      <span (click)="pauseTurn()" class="material-icons float-right greyButton col-2"
        matTooltip="Pausar turno" (click)="pauseTurn()">pause_circle_outline</span>
      <h6 class="card-name card-name-width col-8">ATENCIONES</h6>
      <span (click)="getTurn()" class="material-icons float-right greyButton col-2"
        matTooltip="Atender turno">add_circle_outline</span>
    </div>

  </div>
  <div class="card-body card-body-turn-client overflow-auto">

    <div class="card" *ngFor="let turn of turnList">
      <div [ngClass]="{'client-selected': turnSelectedInput === turn}" class="card-body noMargin" (click)="selectClient(turn)">
        <div class="row justify-content-center col-12">
          <div class="col-4">
            <span class="material-icons greyButton mx-1" matTooltip="Clonar Turno" (click)="cloneTurn()">
              content_copy
            </span>
            <span class="material-icons greyButton mx-2" (click)="freeTurn()" matTooltip="Derivar Turno">
              reply_all
            </span>
          </div>
          <div class="col-6">
            <span> {{ turn.client && turn.client.name ? turn.client.name : '' }}
              {{ turn.client && turn.client.lastName ? turn.client.lastName : '' }} </span>
          </div>
          <div class="col-2">
            <span class="material-icons greyButton mx-1" (click)="openPopupFinish()" matTooltip="Finalizar Turno">
              done_outline
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateFinish>
  <div class="modal-header">
      <h4 class="modal-title pull-left">ACCIONES PENDIENTES</h4>
  </div>
  <div class="modal-body">
      <h5 class="text-center">¿Desea dar el turno por finalizado?</h5>
  </div>
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <button mat-button color="warn" (click)="openPopAcciones()">NO EXITOSO</button>
              <button mat-button color="primary" (click)="finishTurn(false)">EXITOSO</button>
          </div>
      </div>
  </div>
  <br>
</ng-template>

<ng-template #templateAcciones>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Detalle de acciones pendientes</h4>
  </div>
  <div class="modal-body">
      <mat-form-field>
          <mat-label>Seleccione un motivo</mat-label>
          <mat-select [(value)]="motivoSeleted" (valueChange)="changeMotivo(motivoSeleted)">
              <mat-option value="Mal categorizado">Mal categorizado</mat-option>
              <mat-option value="Producto sin stock">Producto sin stock</mat-option>
              <mat-option value="Sin saldo en forma de pago">Sin saldo en forma de pago</mat-option>
              <mat-option value="Disconformidad con precio">Disconformidad con precio</mat-option>
              <mat-option value="Cliente no cumple requisitos">Cliente no cumple requisitos</mat-option>
              <mat-option value="Problema durante la atención">Problema durante la atención</mat-option>
              <mat-option value="Otro">Otro</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <button mat-raised-button color="primary" [disabled]="motivoSeleted === ''" class="mr-2" (click)="enviarAccion()">ENVIAR</button>
          </div>
      </div>
  </div>
  <br>
</ng-template>
