<footer>
    <div class="page-footer font-small bg-dark row pt-3">
        <div class="col d-none d-sm-block">
            <p class="text-white text-center"> {{fechaHora | date:"dd/MM/yyyy h:mm a" }}</p>
        </div>
        <div class="col">
            <p class="text-white text-center">
                {{username}} | {{stationName}}
                <!-- <img class="footer-img" src="/../assets/icons/logoGrande.png" />  -->
            </p>
        </div>
        <div class="col d-none d-sm-block">
            <p *ngIf="connected" class="text-white text-center"> <i class="fas fa-wifi"></i> Connected</p>
            <p *ngIf="!connected" class="text-white text-center"> Disconnected</p>
        </div>
    </div>
</footer>